.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
  overflow: hidden; /* Ensure the image fits within the box */
}
.recipe-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 16px;
  padding: 16px;
}
.container1 {
  margin: 0 auto; /* Centers the container */
  max-width: 1400px; /* You can adjust the max-width as needed */
  padding-left: 20px; /* Add padding for left margin */
  padding-right: 20px; /* Add padding for right margin */
}
.popular{
  margin-top: 87px;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
